@import "webfonts";
@import "resets";
@import "lists";
@import "home";
@import "navbar";
@import "footer";
@import "contact_form";
.home {
	.wrapper {
		padding-top: 0;
	}
}


#content {
    padding-top: 3em;
}

article + article {
	margin-top: 4em;
}

aside + aside {
	margin-top: 4em;
}

h1, .h1 {
  font-size: 2rem; }

h2, .h2 {
  font-size: 1.5rem; }

h3, .h3 {
  font-size: 1.25rem; }

h4, .h4 {
  font-size: 1.125rem; }

h5, .h5 {
  font-size: 1rem; }

h6, .h6 {
  font-size: 1rem; }


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	a {
		&:hover {
			color: $brand-secondary;
		}
		// &:visited {
		// 	color: $brand-primary;
		// }
	}
}

h2.fancy {
	color: $brand-secondary;
	width:100%;
	text-align:center;
	border-bottom: 1px solid $brand-secondary;
	line-height:0.1em;
	margin: 0.5em 0 2em;
	font-size: 2rem;
	span {
		background:#fff;
		padding:0 10px;
	}
}

.entesa_highlights,
.entesa_butlletins,
.entesa_agenda_items {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			padding: 0 0 4.5em 0;
			h2 {
				text-align: center;
				border-bottom: 1px solid $brand-primary;
				transition: border .5s ease;
				&:hover {
					border-bottom: 1px solid $brand-secondary;
				}
			}
		}
	}
}

.entesa_agenda_items {
	p {
		text-align: center;
		font-size: 1.25rem;
		a {
			color: inherit;
		}
	}
}



#full-screen-search {
	overflow: hidden !important;
	height: 0 !important;
}
#full-screen-search.open {
	height: 100% !important;
	overflow: visible !important;
}

.widget-area {
	padding-left: inherit;
	@media (min-width: 768px) {
		padding-left: 81px;
	}
}


.quaternary-belt {
	background-color: $brand-quaternary;
}

.float-xs-right {
    float: right;
}
