// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere
$base-font: 'BookmanBT-Roman', serif;
$highlight-font: 'UniversLTStd', sans-serif;

$brand-primary:         hsla(346, 92%, 39%, 1);


$text-color: transparentize(black,0.3);
$color-highlight: transparentize($brand-primary,0.2);
$color-highlight-active: $brand-primary;
$color-highlight-inactive: darken($brand-primary,10%);

$brand-inverse-text-base-color: white;
$color-highlight-inverse: transparentize($brand-inverse-text-base-color,0.2);
$color-highlight-inverse-active: $brand-inverse-text-base-color;
$color-highlight-inverse-inactive: transparentize($brand-inverse-text-base-color,0.3);
$text-color-inverse: transparentize($brand-inverse-text-base-color,0.3);


$gray-dark:                 #464a4c !default;
$gray:                      #636c72 !default;
$gray-light:                #eceeef !default;
$gray-lighter:              #f7f7f9 !default;
$gray-lightest:             #fefefe !default;
