#wrapper-footer {
    padding: 0;
    margin: 0;
    font-family: $highlight-font;
    .footer-entesa-link,
    .footer-contacte-link {
        line-height: 69px;
        text-align: center;
    }
    .footer-entesa-link {
        @media (min-width: 768px) {
            text-align: left;
        }
    }
    .footer-contacte-link {
        @media (min-width: 768px) {
            text-align: right;
        }
    }
}
#wrapper-footer-full {
    background: none;
    padding: 1em 0;
    .footer-widget {
        padding: 0;
    }
}

.spoontalk-sociamedia-icons-widget {
    .widget-title {
        display: none;
    }
    .spoontalk-social {
        color: $color-highlight-inverse !important;
        background: transparent;
        &:hover{
                color: white!important;
        }
    }
}

.fa-google-plus {
        opacity: 0.8;
    &:hover {
        opacity: 1;
    }
    &:before {
        background-image: url(../images/google_photos.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        color: transparent;

    }
}
