.fotodenuncia-archive-wrapper {
	.entry-title {
		font-size: calc(1vw + 1vh + 2vmin)
	}
	article {
		height: 100%;
	}
	.taxonomy-description {
		text-align: center;
	}


	.mosaic-item {
		position: relative;
		width: 50%;
		float: left;
		overflow: hidden;
		&:after {
			content: "";
			display: block;
			padding-bottom: 75%;
		}
		.content {
			position: absolute;
			width: 90%;
			height: 90%;
			margin: 5%;
			cursor: pointer;
		}
		.image {
			height: 100%;
			width: 100%;
			background-size: contain;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.card {
			height: 100%;
			padding: 5%;
			text-align: center;
			display: none;
			overflow: scroll;
			.updated {
				display: none;
			}
		}
		&.hover,
		&:hover {
			.card {
				display: block;
			}
			.image {
				display: none;
			}
		}
	}

	nav {
		margin: 50px auto 0 auto;
	}
}


.home .fotodenuncia-archive-wrapper {
	height: 224px;
}
