

.hero {
	font-family: $highlight-font;
	font-weight: bold;
	width: 100%;
	height: 25vh;
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
	@media (min-width: 768px) {
		height: 50vh;
	}
	ul {
		width: 100%;
		height: 100%;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		position: absolute;
		opacity: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		&.slide4 {
			background-size: contain;
			background-repeat: repeat-x;
		}
		&.slide1 {
			opacity: 1;
			animation: fade1 30s infinite;
		}
		&.slide2 {
			animation: fade2 30s infinite;
		}
		&.slide3 {
			animation: fade3 30s infinite;
		}
		&.slide4 {
			animation: fade4 30s infinite;
		}

		@keyframes fade1 {
			/*
			95 -> 30
			*/
			0% { opacity: 1 }
			20% { opacity: 1 }
			30% { opacity: 0 }
			95% { opacity: 0 }
			100% { opacity: 1 }
		}
		@keyframes fade2 {
			/*
			20 - 55
			*/
			0% { opacity: 0 }
			20% { opacity: 0 }
			30% { opacity: 1 }
			45% { opacity: 1 }
			55% { opacity: 0 }
			100% { opacity: 0 }
		}
		@keyframes fade3 {
			/*
			45 - 80
			*/
			0% { opacity: 0 }
			45% { opacity: 0 }
			55% { opacity: 1 }
			70% { opacity: 1 }
			80% { opacity: 0 }
			100% { opacity: 0 }
		}
		@keyframes fade4 {
			/*
			70 - 05
			*/
			5% { opacity: 0 }
			70% { opacity: 0 }
			80% { opacity: 1 }
			95% { opacity: 1 }
		}
	}
	.logo {
		background-image: url(../images/logo_entesa.svg);
		filter: drop-shadow(10px 10px 10px #222);
		position: absolute;
		width: auto;
		position: absolute;
		bottom: -3vmin;
		font-size: 5vmin;
		padding-left: 32vmin;
		background-position: left;
		background-repeat: no-repeat;
		background-size: contain;
		height: 30vmin;
		line-height: 35vmin;
		color: #fff;
		z-index: 0;
		font-weight: 700;
		max-width: 1000px;
		max-height: 300px;
		margin-top: 20%;
		@media (min-width: 1200px) {
			font-size: 56px;
		}

	}
}

.participa-belt-holder {
	margin: 3em 0;
}
.participa-belt {
	padding: 4em 0;
	color: transparentize(white,0.1);
	text-align: center;
	h2 {
		font-weight: 300;
		font-size: 3rem;
		border-bottom: 1px solid transparentize(white,0.1);
		margin-bottom: 0.5em;
	}
	p {
		font-size: 1.5rem;
	}
	.btn-secondary {
		background-color: transparent;
		color: transparentize(white,0.1);
		border-color: transparentize(white,0.1);
	}
}

.networks-section {
	.col {
		&:nth-child(even) {
			padding-left: 15px;
			@media (min-width: 768px) {
				padding-left: 45px;
			}
		}
		&:nth-child(odd) {
			padding-right: 15px;
			@media (min-width: 768px) {
				padding-right: 45px;
			}

		}
	}
}


#sb_instagram {
	#sbi_images {
		margin-top: -10px;
	}
	.sb_instagram_header {
		display: none;
	}
	#sbi_load {
		display: none;
	}
	margin-bottom: -10px;
}
