

.hero {
	font-family: $highlight-font;
	font-weight: bold;
	width: 100%;
	height: 25vh;
	position: relative;
	padding: 0;
	margin: 0;
	overflow: hidden;
	@media (min-width: 768px) {
		height: 50vh;
	}
	.logo {
		background-image: url(../images/logo_entesa.svg);
		filter: drop-shadow(10px 10px 10px #222);
		position: absolute;
		width: auto;
		position: absolute;
		bottom: -3vmin;
		font-size: 5vmin;
		padding-left: 32vmin;
		background-position: left;
		background-repeat: no-repeat;
		background-size: contain;
		height: 30vmin;
		line-height: 35vmin;
		color: #fff;
		z-index: 0;
		font-weight: 700;
		max-width: 1000px;
		max-height: 300px;
		margin-top: 20%;
		@media (min-width: 1200px) {
			font-size: 56px;
		}

	}
}

.home-slider {
	width: 100%;
	height: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		position: absolute;
		opacity: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		transition: opacity 1s linear;

		&.off {
			opacity: 0;
		}
		&.on {
			opacity: 1;
		}
		&.slider-mosaic {
			background-position: top;
		}
	}
}

.participa-belt-holder {
	margin: 3em 0;
}
.participa-belt {
	padding: 4em 0;
	color: transparentize(white,0.1);
	text-align: center;
	h2 {
		font-weight: 300;
		font-size: 3rem;
		border-bottom: 1px solid transparentize(white,0.1);
		margin-bottom: 0.5em;
	}
	p {
		font-size: 1.5rem;
	}
	.btn-secondary {
		background-color: transparent;
		color: transparentize(white,0.1);
		border-color: transparentize(white,0.1);
	}
}

.networks-section {
	.col {
		&:nth-child(even) {
			padding-left: 15px;
			@media (min-width: 768px) {
				padding-left: 45px;
			}
		}
		&:nth-child(odd) {
			padding-right: 15px;
			@media (min-width: 768px) {
				padding-right: 45px;
			}

		}
	}
}


#sb_instagram {
	#sbi_images {
		margin-top: -10px;
	}
	.sb_instagram_header {
		display: none;
	}
	#sbi_load {
		display: none;
	}
	margin-bottom: -10px;
}
