.wrapper-navbar {
	background-color: $brand-tertiary;

	@media (min-width: 992px) {
		.col-lg-7-not-fixed {
			flex: 0 0 58.33333%;
			max-width: 58.33333%;
		}
	}

	.navbar--fixed & {
		padding-top: 0;
		padding-bottom: 0;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;

		@media (min-width: 992px) {
			.col-lg-7-not-fixed {
				flex: 0 0 41.66667%;
				max-width: 41.66667%;
			}
		}
		@media (min-width: 768px) {
			.col-md-6-not-fixed {
			    flex: 0 0 50%;
			    max-width: 50%;
			}
		}



	}
}

.hide-if-not-fixed {
	display: none;
	.navbar--fixed & {
		display: block;
	}
}


.fixed-row {
	position: relative;
	z-index: 5;
	& > div {
		transition: width 0.5s linear;
	}
}

.navbar-brand {
	position: absolute;
	img {
		height: 80px;
		width: auto;
		max-width: inherit !important;
		margin-bottom: -40%;
		margin-top: -10%;
		filter: drop-shadow(5px 5px 5px #222);
		transition: top 0.5s linear;
		position: relative;
		top: -96px;
		opacity: 0;

		.navbar--fixed & {
			opacity: 1;
			top: 0px;
			z-index: 20;
		}
	}
}
.navbar {
	transition: height 0.5s ease;
	z-index: 5;
	padding: 0;
	display: block;

	height: auto;
	@media (min-width: 992px) {
		height: 4em;
	}

	&.primary {
		.navbar--fixed & {
		}
	}
	&.secondary {
		position: inherit;

		@media (min-width: 576px) {
			position: relative;
			left: 0;
		}


		display: flex !important;
		.menu-item {
			width: 100%;
			padding: 0;
			margin: 0;
			line-height: 64px;
			@media (min-width: 576px) {
				margin: 0 0 0 2em;
			}
			.navbar--fixed & {
				width: 100%;
				@media (min-width: 576px) {
					width: 80px;
				}
			}
			display: inline-block;
			img {
				padding: 10% 0 10% 10%;
				max-width: none;
				width: 100%;
				@media (min-width: 576px) {
					padding: 10%;
					width: 100px;
					height: auto;
				}
			}
		}
	}
}

#content {
	// padding-top: 100px;
}
.navbar--fixed #content {
	padding-top: 100px; //navbar-height * 2
}
.navbar--fixed .hero {
	opacity: 0;
}

#menu-enllacos {
	padding-left: 0;
}
.navbar-nav > .menu-item {
	cursor: pointer;
	float: none;
	display: block;
	font-family: $highlight-font;
	font-weight: 300;
	margin: 0 2em 0 0;
	line-height: 64px;
	font-size: 1.5em;
	.navbar--fixed & {
		font-size: 1em;
	}

	.primary & {

		.navbar--fixed & {
			margin-top: 0;
		}
	}


	&:hover > .dropdown-menu {
		display: block;
	}
}
.navbar-nav {
	display: flex;
	flex-flow:  row nowrap;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
	.secondary & {
		justify-content: center;
	}
	width: 100%;
	height: 4em;
}

.dropdown-menu {
	margin-top: 0em;
	min-width: 250px;
	padding: 1em;
	.bg-inverse & {
		background-color: transparentize($brand-tertiary,0.033);
	}
	.menu-item {
		padding: 0.25em 0;
		line-height: 1em;
	}
}


.navbar-toggler {
	align-self: flex-end;
	margin-top: 0.5em;
}

.navbar-collapse.show {
	background-color: transparentize($brand-tertiary,0.2);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	right: 0;
	padding: 1em;
	margin-top: 0px;
	@media (min-width: 992px) {
		margin-top: 24px;
	}

	.navbar-nav {
		flex-direction: column;


		& >.menu-item {
			margin: 0;
			font-size: 20px;
			line-height: 1em;
			padding: 0.5em 0;
			text-align: center;
			&:hover>.dropdown-menu {
				float: none;
				background: transparent;
				border: 0;
				text-align: center;
			}
		}
	}
}


html.fixed-scroll {
	overflow: 'hidden';
	height: '100%';
	body {
		overflow: 'hidden';
		height: '100%';
		margin-top: '-213px';
	}
}

 .lastNavigationElement .trigger-search {
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 999999;
    font-size: 1.25rem;
    color: white;
	transition: color 0.5s linear;
	&:hover {
		color: $brand-secondary;
		cursor: pointer;
	}
}

@media (max-width: 991px) {
	#main-menu {
		height: inherit;
		overflow: scroll;
		.menu-item {
			width: 100%;
		}


		.dropdown-menu {
			width: 100%;
			border: 0;
			margin-bottom: 1em;
			display: block;
			border-top: 1px solid transparentize(white,0.2) !important;
			border-radius: 0;

			.menu-item {
				&:first-child {
					margin-top: -0.5em;
				}
				text-align: center;
			}
		}
	}
	.bg-inverse .dropdown-menu {
		background: transparent;

	}
}
