body {
	font-family: $base-font;
	color: $text-color;
	.bg-inverse {
		color: $text-color-inverse;
		background-color: $brand-tertiary !important;
	}
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $highlight-font;
}


a {
	transition: color 0.5s ease;
	color: $color-highlight;
	.bg-inverse & {
		color: $color-highlight-inverse;
	}
}
a:not([href]):not([tabindex]) {
	color: $color-highlight;
	&:hover {
		color: $color-highlight;
	}
}

a:hover {
	text-decoration: none;
	color: $color-highlight-active;
	.bg-inverse & {
		color: $color-highlight-inverse-active;
	}
}

article a:visited {
	color: $color-highlight-inactive;
}


.entry-meta {
	margin-bottom: 1em;
	font-family: $highlight-font;
	font-size: 90%;
}
