/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/33b065");


@font-face {
    font-family: 'UniversLTStd';
    font-style: normal;
    font-weight: 300;
    src: url('webfonts/33B065_2_0.eot');
    src: url('webfonts/33B065_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/33B065_2_0.woff2') format('woff2'),url('webfonts/33B065_2_0.woff') format('woff'),url('webfonts/33B065_2_0.ttf') format('truetype');
}

@font-face {
    font-family: 'UniversLTStd';
    font-style: normal;
    font-weight: 400;
    src: url('webfonts/33B065_1_0.eot');
    src: url('webfonts/33B065_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/33B065_1_0.woff2') format('woff2'),url('webfonts/33B065_1_0.woff') format('woff'),url('webfonts/33B065_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'UniversLTStd';
    font-style: normal;
    font-weight: 700;
    src: url('webfonts/33B065_0_0.eot');
    src: url('webfonts/33B065_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/33B065_0_0.woff2') format('woff2'),url('webfonts/33B065_0_0.woff') format('woff'),url('webfonts/33B065_0_0.ttf') format('truetype');
}

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/33e44e");


@font-face {font-family: 'ITCBookman';font-weight: bold;font-style: italic;src: url('webfonts/33E44E_0_0.eot');src: url('webfonts/33E44E_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/33E44E_0_0.woff2') format('woff2'),url('webfonts/33E44E_0_0.woff') format('woff'),url('webfonts/33E44E_0_0.ttf') format('truetype');}


@font-face {font-family: 'ITCBookman';font-weight: bold;font-style: normal;src: url('webfonts/33E44E_1_0.eot');src: url('webfonts/33E44E_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/33E44E_1_0.woff2') format('woff2'),url('webfonts/33E44E_1_0.woff') format('woff'),url('webfonts/33E44E_1_0.ttf') format('truetype');}


@font-face {font-family: 'ITCBookman';font-weight: normal;font-style: italic;src: url('webfonts/33E44E_2_0.eot');src: url('webfonts/33E44E_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/33E44E_2_0.woff2') format('woff2'),url('webfonts/33E44E_2_0.woff') format('woff'),url('webfonts/33E44E_2_0.ttf') format('truetype');}


@font-face {font-family: 'ITCBookman';font-weight: normal;font-style: normal;src: url('webfonts/33E44E_3_0.eot');src: url('webfonts/33E44E_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/33E44E_3_0.woff2') format('woff2'),url('webfonts/33E44E_3_0.woff') format('woff'),url('webfonts/33E44E_3_0.ttf') format('truetype');}
 
